# Archivos de control de versiones
.git/
.gitignore

# Directorios de IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/
**/target/

node_modules/

.env
*.log
logs/


**/mvnw
**/mvnw.cmd
.mvn/
**/node_modules/
build/
out/
dist/

docker-compose.yml
docker-compose.*.yml
Dockerfile*
.dockerignore

**/*~
**/*.bak
**/*.swp
**/temp/
tmp/


README.md
LICENSE
CHANGELOG.md

